.info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.chart-container {
    width: 400px;
    height: 400px;
}


#expenseBreakdown {
    width: 300px;
}


#remaining {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}