html, body,main{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

.navBar button{
    height: 40px;
    width: 75px;
    float: right;
    position: absolute;
    border-radius: 20px;
    top: 30px;
}

.signup-button{
    background-color: rgb(61, 138, 91);
    color: white;
    box-shadow: none;
    border: none;
    right: 100px;
    transition: box-shadow 0.15s;
    transition: opacity 0.15s;
    
}

.signup-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.signup-button:active{
    opacity: 0.8;
}


.Login-button{
    background-color: white;
    color: rgb(61, 138, 91);
    border-color: rgb(61, 138, 91);
    border-style: solid;
    right: 20px;
    transition: opacity 0.15s,
        color .15s;
}

.Login-button:hover{
    background-color: rgb(61, 138, 91);
    color: white;
}

.Login-button:active{
    opacity: .75;
}
.navBar h1{
    font-family: 'Josefin Slab', serif;
    font-weight: 500;
}


.navBar{
    background-color: rgb(84, 190, 124);
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
.aboutbox{
    display: flex;
    /*flex: 0 0 25vw;*/
    
    height: 85vh;
    width: 100%;
    background-color: rgb(84, 190, 124);
    flex-direction: row;
}
.about{
    font-size: 100px;
    font-family: 'Josefin Slab', serif;
    font-weight: 500;
    height: 20px;
}
.student-img{
    flex: 1;
    /*
    width: 700px;
    height: 50vh;
    */
    object-fit: cover; 
}
.about-text{
    flex: 1;
    font-family: 'Josefin Slab', serif;
    margin-left: 190px;
    font-size: 30px;
    font-weight: lighter;
}

.aboutC{ 
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100%;
    background-color:rgb(84, 190, 124);
}
.aboutC-text{
    font-family: 'Josefin Slab', serif;
    order: 1;
    font-size: 40px;
    font-weight: lighter;
}
.chart-img{
   
    height: 50vh;
    max-width: 100%;
    order: 2;
    align-self: flex-end;
}
